{% extends "template.html" %}
{% block content %}
	{% if session != "" %}
		<p>Créer un <a href="index.php?action=displayNewTopicGame">nouveau sujet</a></p>
	{% else %}
		<p><a href="index.php?action=setLogin">Connectez vous</a> pour pouvoir créer un nouveau sujet</p>
	{% endif %}
	<h1>Liste des topic sur les jeux</h1>
	<form>
		<label>Recherche</label>
		<input type="search" name="search">
		<label>Nombre de sujet affiché par page :</label>
		<select id ="maxPerPage" name="maxPerPage">
		    <option value="10">10</option>
		    <option value="25">25</option>
		    <option value="50">50</option>
		    <option value="75">75</option>
		</select>
	</form>
	<p>page<span class="page"></span></p>
	 <ol id="displayTopic">
	 	
	 </ol>
	<p>page<span class="page"></span></p>

{% endblock %}