
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <link rel="icon" type="image/png" href="/projet6/public/img/actu_1.0.png" />

            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="initial-scale=1, width=device-width">
            <!-- CSS -->
            <link href="/projet6/public/css/chatCss.css?3" rel="stylesheet"/>
            {% if css is defined %}
                <link href="{{ css }}" rel="stylesheet"/>
            {% endif %}
            
            {% if title is defined %}
                <title>{{ title }}</title>
            {% endif %}

            <!-- <script src="https://kit.fontawesome.com/aa2b6f73d5.js" crossorigin="anonymous"></script> -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!-- Bootstrap core CSS -->
            <link href="/projet6/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom fonts for this template -->
            <link href="/projet6/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
            <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

            <!-- Custom styles for this template -->
            <link href="/projet6/public/css/clean-blog.min.css" rel="stylesheet">
        {% endblock %} 
    </head>
    <body>
        <!--<div id="radioMusic">
            <p><button id="reduceRadio">-</button> Réduire<p>
            <p>Radio</p>
            <audio controls id="music">
                <source src="./music/yuno-gasai-mirai-nikki-neotokio3.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>-->

        {% block content %}{% endblock %}
        {% block footer %}

            <footer>
                <!-- CHAT -->
                <div id="chat">
                    <p id="chatGesture"><button id="reduceChat">-</button> Réduire</p>
                    <div id="displayChat">          
                    </div>

                    {% if session != "" %}
                        <form id="infoChat">
                            <input id="inputMessage" placeholder="Entré un message" type="text" name="inputMessage">
                            <button id="sendMessage">Envoyer</button>
                        </form>
                    {% elseif session != "" %}
                        <p id="infoChat">Nouveau message :<a class="nav-link" href="index.php?action=displayLogin">Connexion</a><p>
                    {% endif %}
                </div>

                <div class="footerElmt">
                    <p>RS</p>
                </div>
                <div class="footerElmt">
                    <p>Compte</p>
                    <p><a href="">identification</a></p>
                    <p><a href="">inscription</a></p>
                    <p><a href=""></a></p>
                </div>
                <div class="footerElmt">
                    <p>Blog</p>
                    <p><a href="">Jeux</a></p>
                    <p><a href="">Musiques</a></p>
                    <p><a href="">Politique</a></p>
                </div>
                <div class="footerElmt">
                    <p>Assistance</p>
                    <p><a href="">question</a></p>
                    <p><a href="">condition d'utilisation</a></p>
                    <p><a href="">mention légale</a></p>
                </div>
            </footer>
        {% endblock %}
    </body>
    <script src="/projet6/public/js/general.js?1.3.3"></script>
    <script type="text/javascript">
        let general = new General;
    </script>      
</html>

