#commentDisplayDetails, #topicDisplayDetails {
	background: white;
	z-index: 2;
	border: black 3px solid;
	padding: 10px;
	margin: 10px;
}

#topicDisplayDetails {
	display: none;
}

#displayDetails {
	z-index: 2;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

#background {
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	z-index: 1;
	position: absolute;
	background: rgb(112,112,112);
	background: linear-gradient(90deg, rgba(112,112,112,0.5) 0%, rgba(112,112,112,0.5) 100%);
}

#true, #false {
	margin-right: 5px;
}